.category__bar {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: #004387;
    padding: 16px;
    margin-top: 6px;
    position: fixed;
    z-index: 4;
    width: 100%;
}

.nav_dropdown {
    color: #ffffff
}

.dropdown_menu {
    display: none;
    position: absolute;
    z-index: 4;
}

.dropdown_menu li {
    color: #004387;
    text-decoration: none;
    padding: 12px 16px;
    background-color: #ffffff;
}

.nav_dropdown:hover .dropdown_menu{
    display: block;
    padding: 16px;
}

/* .nav_dropdown:hover {
    background-color: #ffffff;
    color: #004387;
} */

