.footer__container {
    background-color: #000000;
    height: 50px;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
    
}

.footer__createdby {
    color: #ffffff;
    display: inline-block;
    position: relative;
    top: 4px;
    right: 10%;
    font-size: 18px;
    font-weight: 600;
}

.footer__github {
    color: #ffffff;
    display: inline-block;
    margin-right: 40px;
    font-size: 18px;
}

.footer__github:hover {
    color: #3777b8;
}

.footer__logo {
    position: relative;
    top: 5px;
}