.nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    margin-right: auto;
    margin-left: 20px;
}

.logo {
    display: inline-block;
    width: 30px;
}

.nav__search {
    margin-right: auto;
    border: 1px solid black;
}

.nav__account {
    margin-left: auto;
}

.nav__item {
    margin-right: 20px;
}
