.category__list{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 20px 25%;
    font-size: 24px;
}

.category__list-product{
    display: flex;
    justify-content: space-between;
    text-align: left;
    border: 1px solid black;
    padding: 10px 10px;
    margin-bottom: 5px;
}


.category__list-product-img{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.category__list-product-name{
    padding: 5px 0;
}



.category__list-product-price{
    padding: 5px, 0;
    text-align: right;
}
