.mainCarousel {
    margin-top: 130px;
}

.mainCarousel__container {
    width: 1000px;    
    margin: 0px auto 0px auto;
    /* padding-top: 100px; */
}

.mainCarousel__imgContainer {
    height: 650px;
    overflow: hidden;
}

.featured__carousel {
    /* width: 1200px; */
    width: 80%;
    height: 200px;
    margin: 20px auto 0px auto;
    z-index: 0;
}

.featured__item {
    /* background-color: yellow; */
    height: 200px;
    width: 90%;
    /* width: 200px; */
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
}

.featured__item--img{
    /* height: 60%; */
    /* width: 60%; */
    width: 150px;
    padding: 2px;
}

.featured__item--name {
    color: #0066CC;
    font-size: small;

}

.featured__item--price {
    font-size: small;
    padding: 2px;
}

.snackbar {
    margin-top: 50px;
}

/* need to push css up */