.category__list {
  /* display: flex; */
  /* flex-direction: column; */
  align-content: space-around;
  /* flex-wrap: wrap; */
  margin-top: 130px;
  padding: 100px 10%;
  font-size: 36px;
}

.category__map--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.category__map-container{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  flex-wrap: wrap;
  width: 100%;
}

.category__list-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 0px 0px 100px 0px;
  flex-basis: 20%;
}

.category__list-nameprice-container{
  margin-top: 10px;
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  text-align: center;
}

.category__list-product-img {
  max-width: 350px;
  align-self: center;
  height: 350px;
  
}

.category__list-product-name {
  font-size: 22px;
  padding: 5px 5px;
  font-weight: 700;
  color: #004387;
  margin-right: 5px;
  overflow-wrap: normal;
  max-width: 345px;
}

.category__list-product-price {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 7px;
  /* text-align: right; */
}

.category__title-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  font-size: larger;
  font-weight: 700;
  
}

.category__title-productheader{
  
}

.category__title{}

